body{
    display: flex;
}
iframe<p>{
    border: 10px double black;
</p>}
main{
    flex: 1;
}
ul.links{
    width: 2in;
    margin: 0;
    padding: 0;
}
ul.links li{
display: block;
    margin: 1px;
    padding: 0;
}
 ul.links a {
     padding: 10px;
     display: block;
     transition: all 1s;
background: pink;
 }

 ul.links a:hover{
 color: pink;
background: darkslategrey;
transform: scale(1.10)
 }
